<ion-view title="Know Your Leader">
    <ion-tabs>

<!--
        <ion-tab title="English">
            <ion-content class="has-header">

                <div class="item item-divider">
                    Prakash Rajaram Surve
                </div>
                <img src="img/ionic.jpg" class="img-half">

                <div class="item item-divider">About</div>
                <p class="padding text-justify">Prakash Rajaram Surve was born on 1st June 1963 in mangaon, Dist. Raigad. He completed his school Jilla Parishad School in Nizampur, near Mangaon.
                    <br>Prakaash Dada comes from a very humble background where his parents used to sell vegetables on the streets of Mumbai to make a daily living.
                    <br>For completing his college education, dada migrated to mumbai and enrolled himself to Gokhale College. He completed B.Com while helping his parents in selling vegetables .
                    <br>Right from his early days, Prakaash Dada who had a strong influence of Chatrapati Shivaji Maharaj was active in student politics where he played prominent role in college elections which were being held in those days.
                    <br>Prakaash Dada rose to become the District President of NCP in 2008. He had contested the Maharashtra legislative Assembly Election of 2009 from Magathane and got 2nd number votes, Social work has been every close to Prakaash Dadas heart. He has undertaken several social cause initiatives in Magathane focusing on Poor people , women empowerment , senior citizens. Prakaash Dada has done commendable work in the field of Education. Some of his key achievments include eye donation to 150 visually handicapped, prouding artificial limits to 378 physically challenged people, providing free food grains and blankets to senior citizens, and providing computer education to local youth amongst many others.
                    <br>
                </p>
                <div class="item item-divider">Social Work</div>
                <p class="padding text-justify">Eye Donation for 150 Visually Blind Persons.
                    <br>Artificail Legs given to 378 Handicapped Peoples and Distributed Cycle Wheel Chairs to them.
                    <br>Free Cataract Operation for Persons effected with cataract.
                    <br>Free Medical Ambulance.
                    <br>Free Computer EducationTraining.
                    <br>Free Note-Books Distribution.
                    <br>Free Text Books Distributed to College Students.
                    <br>On the day of Guru Purnima Principals of Colleges were honored and Certificated were distributed to them for their service in Educational Field.
                    <br>Senior Citizens were provided with free Identity Cards.
                    <br>Free Food Grains and Blankets were distributed to Senior Ctizens.
                    <br>Senior Citizens were taken free to Holy Places.
                    <br>Every year Grand Dahikala and Navratri Utsav are organized.
                </p>
                <div class="item item-divider">
                    EDUCATION
                </div>
                    <p class="padding text-justify">B.Com.
                        <br>President-Taramati Charitable Foundation.</p>
                


            </ion-content>
        </ion-tab>
-->
        
        <ion-tab title="मराठी">

            <ion-content class="has-header">

                <div class="item item-divider">
                
 जयवंत परब 
                </div>
                <img src="img/ionic.jpg" class="img-half">
                <div class="item item-divider">आमच्या बद्दल</div>
                <p class="padding text-justify">
                जयवंत परब नावाच्या व्यक्तीने अवघ्या अंधेरीकरांना गेली पस्तीस वर्ष भारून टाकले आहे, असे म्हटले तरी अतिशोक्ती ठरणार नाही. शिवसेनेच्या माध्यमातून समाजासाठी जास्तीत जास्त काय करता येईल या विचाराने या व्यक्तिमत्वाला नुसते झपाटून टाकले आहे. संध्याकाळ झाली कि लोकांचे पाय आपो-आप शाखेकडे वळत. अपना बाजाराजवळची शाखा म्हणजे साऱ्या अंधेरीकरांचे कुटुंब आणि या कुटुंबाचे कुटुंबप्रमुख होते जयवंत परब!<br>
   जयवंत परब हि एक मनस्वी व्यक्ती! राजयोगी,दिलदार माणूस! त्यांच्याकडे आलेला माणूस परत कधी रिकाम्या हाताने गेलाच नाही. त्यांनी दुसऱ्यांना देण्यासाठी स्वत: इतरांकडून कर्जही काढले. स्वतःचे  निर्णय ते स्वतः घ्यायचे, मग त्याचे बरे वाईट परिणाम हि भोगायची त्यांची तयारी असायची. माँसाहेब आणि शिवसेनाप्रमुखांवर त्यांची अपार निष्ठा होती. त्याचप्रमाणे शिवसेनाप्रमुखांचा हि त्यांच्यावर प्रचंड विश्वास होता.
 </p>

            </ion-content>
        </ion-tab>

    </ion-tabs>
</ion-view>
