<ion-view title="Know Your Leader">
    <ion-tabs>

<!--
        <ion-tab title="English">
            <ion-content class="has-header">

                <div class="item item-divider">
                    Prakash Rajaram Surve
                </div>
                <img src="img/ionic.jpg" class="img-half">

                <div class="item item-divider">About</div>
                <p class="padding text-justify">Prakash Rajaram Surve was born on 1st June 1963 in mangaon, Dist. Raigad. He completed his school Jilla Parishad School in Nizampur, near Mangaon.
                    <br>Prakaash Dada comes from a very humble background where his parents used to sell vegetables on the streets of Mumbai to make a daily living.
                    <br>For completing his college education, dada migrated to mumbai and enrolled himself to Gokhale College. He completed B.Com while helping his parents in selling vegetables .
                    <br>Right from his early days, Prakaash Dada who had a strong influence of Chatrapati Shivaji Maharaj was active in student politics where he played prominent role in college elections which were being held in those days.
                    <br>Prakaash Dada rose to become the District President of NCP in 2008. He had contested the Maharashtra legislative Assembly Election of 2009 from Magathane and got 2nd number votes, Social work has been every close to Prakaash Dadas heart. He has undertaken several social cause initiatives in Magathane focusing on Poor people , women empowerment , senior citizens. Prakaash Dada has done commendable work in the field of Education. Some of his key achievments include eye donation to 150 visually handicapped, prouding artificial limits to 378 physically challenged people, providing free food grains and blankets to senior citizens, and providing computer education to local youth amongst many others.
                    <br>
                </p>
                <div class="item item-divider">Social Work</div>
                <p class="padding text-justify">Eye Donation for 150 Visually Blind Persons.
                    <br>Artificail Legs given to 378 Handicapped Peoples and Distributed Cycle Wheel Chairs to them.
                    <br>Free Cataract Operation for Persons effected with cataract.
                    <br>Free Medical Ambulance.
                    <br>Free Computer EducationTraining.
                    <br>Free Note-Books Distribution.
                    <br>Free Text Books Distributed to College Students.
                    <br>On the day of Guru Purnima Principals of Colleges were honored and Certificated were distributed to them for their service in Educational Field.
                    <br>Senior Citizens were provided with free Identity Cards.
                    <br>Free Food Grains and Blankets were distributed to Senior Ctizens.
                    <br>Senior Citizens were taken free to Holy Places.
                    <br>Every year Grand Dahikala and Navratri Utsav are organized.
                </p>
                <div class="item item-divider">
                    EDUCATION
                </div>
                    <p class="padding text-justify">B.Com.
                        <br>President-Taramati Charitable Foundation.</p>
                


            </ion-content>
        </ion-tab>
-->
        
        <ion-tab title="मराठी">

            <ion-content class="has-header">

                <div class="item item-divider">
                
श्री. राजन बाळकृष्ण नाईक 
                </div>
                <img src="img/ionic.jpg" class="img-half">
                <div class="item item-divider">आमच्या बद्दल</div>
                <p class="padding text-justify">
                शैक्षाणिक पात्रता:
                बी. कॉम. १९८४<br>
                जन्म तारीख :
                ११.१२.१९६३<br>
                संपर्क क्रमांक  :
                ९२२५१४७३३५, ९४२२६८३८६४ <br>
                निवास पत्ता  :<br>
                साई धाम नाळे पढई दत्त मंदिर जवळ, पो. सोपारा, ता. वसई  जि. पालघर 
                                    पिन कोड क्र. ४०१२०३
<br>
                कार्यालय पत्ता  :<br>
                सी ०१  चंद्रेश गौरव को. ऑप. हौस. सोसा., एस. टी. डेपो रोड नालासोपारा (पश्चिम )
	ता. वसई जि. पालघर.
<br><br>
                नोकरी व्यवसाय :	
                स्वतंत्र व्यवसाय  	<br>
                 १९८६ – ८७ :
                 भाजप युवा मोर्चा अध्यक्ष वासी तालुका 	<br>
                 १९९६,१९९८,२००४:
                 लोकसभा निवडणूक सहप्रमुख वसई तालुका<br>
                 १९९९ :
                 भाजपा नालासोपारा शहर उपाध्यक्ष <br>
                 २००३:
                 भाजपा नालासोपारा शहर सरचिटणीस <br>
                 २००५  :
                 भाजपा नालासोपारा शहर अध्यक्ष  <br>
                 २००५  :
                 नगरसेवक नालासोपारा नगरपालिका <br>
                 २००८ 	:
                 उपाध्यक्ष वसई जनता सहकारी बँक लि.<br>
                 २००९  :
                 भाजपा ठाणे जिल्हा(ग्रा.) सरचिटणीस <br>
                 २०१० :
                 गटनेता वसई- विरार शहर महानगर पालिका <br>
                 २०१३  :
                 सदस्य एम.एम.आर.डी ए<br>
                 २०१३ 	 :
                 मीरा- भाइंन्दर महानगर पालिका निवडणूक जबाबदारी<br>
                 २०१३  :
                 डहाणू नगर पालिका निवडणूक जबाबबदारी <br>
                 २०१३ :
                 भाजपा ठाणे जिल्हा (ग्रा.) कोशाध्यक्ष <br>
                 २०१४ :
                 लोकसभा निवडणूक सहप्रमुख पालघर लोकसभा <br>
                 <br>
                 संस्थापक अध्यक्ष कै. अरविंद पेंडसे सहकारी ग्राहक संस्था मर्या.<br>
                 संचालक कै. रामभाऊ म्हाळगी सहकारी पतसंस्था मर्या.<br>
                 संचालक कै. रामभाऊ म्हाळगी सहकारी पतसंस्था मर्या.<br>
                 </p>

            </ion-content>
        </ion-tab>

    </ion-tabs>
</ion-view>
