<ion-view title="Party Details">
    <ion-tabs>
<!--
        <ion-tab title="English">
            <ion-content class="has-header">
                <div class="party">
                    <div class="item item-divider">Shivsena party</div>

                    <p>After the Independence of India in 1947, regional administrative divisions from the colonial era were gradually changed and states following linguistic borders were created. <br>
                    Within the Bombay Presidency a massive popular struggle was launched for the creation of a state for the Marathi-speaking people. <br>
                    In 1960 the presidency was divided into two linguistic states, Gujarat and Maharashtra. <br>
                    Moreover, Marathi-speaking areas of the erstwhile Hyderabad state were joined with Maharashtra. Mumbai, in many ways the economic capital of India, became the state capital of Maharashtra. On one hand, people belonging to the Gujarati community owned the majority of the industry and trade enterprises in the city.<br>
                    On the other, there was a steady flow of South Indian migrants to the city, and who came to take over many white-collar employments.<br>
In 1960 Bal Thackeray, a Mumbai-based cartoonist, began publishing the satirical cartoon weekly Marmik. <br>
Through this publication he started disseminating anti-migrant sentiments. <br>
On 19 June 1966, Thackeray founded the Shiv Sena as a political organisation. <br>
At the time of its foundation, the Shiv Sena was not a political party as such.<br>
The Shiv Sena especially attracted a large number of disgruntled and often unemployed Marathi youth, who were attracted by Thackeray's charged anti-migrant oratory. <br>
In its early days, the Shiv Sena followed an anti-South agenda and its slogan was "Pungi Bajao, Lungi Bhagao" ("Blow the flute, and drive the lungis or South Indians away"). <br>
Shiv Sena cadres became involved in various attacks against the South Indian communities, vandalising South Indian restaurants and pressuring employers to hire Marathis.
</p>

                </div>
            </ion-content>
        </ion-tab>
-->
        <ion-tab title="मराठी">
            <ion-content class="has-header">
               <div class="party">
                    <div class="item item-divider">शिवसेना… शिवाजीची सेना</div>
                    <p>१९ जून १९६६ रोजी शिवसेनेचा जन्म झाला. छ्त्रपती शिवाजी महाराज हे शिवसेनेचं आराध्य दैवत. महाराज भवानी मातेचे प्रखर भक्‍त होते. ‘वाघ’ हे आई भवानीचं वाहन. म्हणून शिवसेनेचं बोधचिन्ह ‘वाघ’ असावं असं बाळासाहेब ठाकरे यांच्या मनात आलं. वाघ म्हणजे रुबाब, मस्ती अन्‌ आक्रमकपणा. शिवसेनेचे सार व्यक्त होणार्‍या बोधचिन्हाला खुद्द बाळासाहेबांनीच साकारले. शिवसेना हे नाव बाळासाहेबांचे वडील प्रबोधनकार ठाकरे यांनीच सुचवले होते.<br>
                     महाराष्ट्राच्या पुनरुत्थानासाठी सिद्ध झालेल्या शिवसेनेचा पहिला मेळावा ३० ऑक्टोबर १९६६ रोजी शिवतीर्थावर आयोजित करण्यात आला. ‘मार्मिक’ वगळता इतर कोणत्याही वर्तमानपत्रात शिवसेनेच्या शुभारंभाच्या मेळाव्याची घोषणा अथवा जाहिरात नव्हती. तरीही मुंबई आणि महाराष्ट्रातल्या अन्य भागांतून मेळाव्याला भरघोस प्रतिसाद मिळाला. शिवाजी पार्क खच्चून भरलेले, रस्ते तुंबले, गल्ल्या भरल्या होत्या. महाराष्ट्राचे दैवत श्री छत्रपती शिवाजी महाराज यांच्या स्फूर्तिदायक चरणांवर प्रतिज्ञेचा माथा ठेवून दृष्ट लागवी असा स्थापना मेळावा झाला.<br>
                     चैतन्यमय आणि संघर्षशील असे शिवसेनेचे सुरुवातीचे दिवस होते. पहिली सभा दणक्यात झाली. त्यानंतर मराठी तरुणांचे तांडे शिवसेनेकडे वळू लागले. ‘मार्मिक’वर वाचकांच्या उड्या पडत होत्या. बाळासाहेबांच्या वाणीला आणि शब्दांना एक वेगळीच धार चढत होती. व्यायामशाळा, स्थानिक क्रीडा संस्था अन्‌ गणपती-गोविंदा मंडळं यांच्या मदतीने सेनेचं ‘नेटवर्किंग’ जोरात सुरू झालं होतं. मराठी माणसांचं हक्काचं माहेरघर म्हणून शिवसेनेची घोडदौड सुरू झाली. <br>
                     बाळासाहेब आणि शिवसेना म्हणजे राजकीय आविष्कार… हिंदुत्वाचा झंझावात, शिवसेना म्हणजे घटनांची रेलचेल, अनंत आंदोलने, असंख्य जाहीर सभा, मेळावे, हिंदुहृदयसम्राट  शिवसेनाप्रमुख श्रीमान बाळासाहेब ठाकरेंचा कणखर बाणा, शिवसेना पक्षप्रमुख उद्धवजी ठाकरेंचे नेतृत्वकौशल्य, युवासेनाप्रमुख आदित्य ठाकरे यांचा करिष्मा, शिवसेनेच्या कुटुंबाचा एकोपा, शिवसैनिकांची निष्ठा, मराठी माणसांचा विश्वास… हीच आपली शिवसेना…एक भगवा झंझावात! शिवसेनेचा मराठी माणसाशी असणारा संबंध अतूट राहिला आहे. इतक्या वर्षांत तीन पिढ्या तरुण होऊन गेल्या. येणारी प्रत्येक पिढी नव्याने इमान घेऊन शिवसेनेत सामील होत आहे. या भगव्या झंझावातास थांबविण्याची ताकद कोणाकडेही नाही. </p>

                  
            </ion-content>
        </ion-tab>
    </ion-tabs>
    
</ion-view>
